:root {
    --primary-bg: #2B2B2B;
    --secondary-bg: #3B3B3B;
    --btn-primary: #A259FF;
    --btn-secondary: #FFFFFF;
    --primary-text: #FFFFFF;
    --secondary-text:#858584;
}

h1, h2, h3, h4, h5, h6, p{
    color: var(--primary-text);
}

.button-primary{
    background-color: var(--btn-primary);
    color: var(--primary-text);
    padding:  11px 19px;
    border-radius: 14px;
    border: none;
    font-weight: 600;
    font-size: 16px;
}

body{
    background-color: var(--primary-bg);
}

.button-primary img{
    margin-right: 10px;
}

.navbar-nav, li.nav-item{
    margin-right: 20px;
}

.navbar{
    background-color: var(--primary-bg) !important;
}

.navbar-brand, .navbar-brand:hover, .nav-link:focus, .nav-link:hover, li.nav-item a {
    color: var(--primary-text);
}

.hero-text-title {
    font-size: 67px;
}

.hero-text-paragraf {
    font-size: 22px;
}

@media (min-width: 1200px) {
    .container-navbar {
      max-width: 1329px;
    }
}